In [3]:
import numpy as np
import pandas as pd

df_sleep = pd.read_csv('Sleep_Data_Final.csv')
df_med = pd.read_csv('med_final.csv')
df_sleep.head(3)

,Patient_ID,Study_ID,PCORI_GENDER_CD,RACE_DESCR,Age during Study,Eye Movements,Eye Blink,Oral Breathing,Nasal Breathing,Holding Breath,...,Oxygen Desaturation,Awake,EEG Arousal,Gag,Foot Movement,Movement,Hypopnea,Apnea,Apnea Hypopnea Index,AHI Class
0,10000,17728,M,White,7,2,0,0,0,5,...,39,4,35,0,2,39,1,5,0.857143,NONE
1,10003,26038,M,Black or African American,13,5,1,1,3,43,...,91,0,20,0,0,31,25,16,5.857143,NORMAL
2,10006,20647,F,Black or African American,5,7,1,1,1,1,...,28,0,39,0,3,8,0,2,0.285714,NONE

In [4]:
df_med.head(3)

   STUDY_PAT_ID        BMI     BMIPCT         BP
0             1  16.933043  70.832857  74.727273
1             7  15.768390  44.963429  78.451613
2            10  27.706167  97.150282  80.130802

In [5]:
df_final = pd.merge(df_sleep, df_med, how='inner', left_on = 'Patient_ID', right_on = 'STUDY_PAT_ID')
df_final.head(3)

,Patient_ID,Study_ID,PCORI_GENDER_CD,RACE_DESCR,Age during Study,Eye Movements,Eye Blink,Oral Breathing,Nasal Breathing,Holding Breath,...,Foot Movement,Movement,Hypopnea,Apnea,Apnea Hypopnea Index,AHI Class,STUDY_PAT_ID,BMI,BMIPCT,BP
0,10000,17728,M,White,7,2,0,0,0,5,...,2,39,1,5,0.857143,NONE,10000,15.193333,42.135000,69.000000
1,10003,26038,M,Black or African American,13,5,1,1,3,43,...,0,31,25,16,5.857143,NORMAL,10003,17.145263,45.376765,75.984848
2,10006,20647,F,Black or African American,5,7,1,1,1,1,...,3,8,0,2,0.285714,NONE,10006,15.348000,39.001765,81.733333

In [10]:
print("Final: ",df_final.shape)
print("Sleep Data:",df_sleep.shape)
print("Med Data:",df_med.shape)

Final:  (3976, 30)
Sleep Data: (3984, 26)
Med Data: (3665, 4)

In [14]:
df_final = df_final.drop(columns=['STUDY_PAT_ID'])

In [15]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3976 entries, 0 to 3975
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient_ID              3976 non-null   int64
 1   Study_ID                3976 non-null   int64
 2   PCORI_GENDER_CD         3976 non-null   object
 3   RACE_DESCR              3976 non-null   object
 4   Age during Study        3976 non-null   int64
 5    Eye Movements          3976 non-null   int64
 6    Eye Blink              3976 non-null   int64
 7    Oral Breathing         3976 non-null   int64
 8    Nasal Breathing        3976 non-null   int64
 9    Holding Breath         3976 non-null   int64
 10   Snoring/Snorting       3976 non-null   int64
 11   Body Position: Supine  3976 non-null   int64
 12   Body Position: Left    3976 non-null   int64
 13   Body Position: Right   3976 non-null   int64
 14   Body Position: Prone   3976 non-null   int64
 15   Cough                  3976 non-null   int64
 16   Oxygen Desaturation    3976 non-null   int64
 17   Awake                  3976 non-null   int64
 18   EEG Arousal            3976 non-null   int64
 19   Gag                    3976 non-null   int64
 20   Foot Movement          3976 non-null   int64
 21   Movement               3976 non-null   int64
 22   Hypopnea               3976 non-null   int64
 23   Apnea                  3976 non-null   int64
 24   Apnea Hypopnea Index   3976 non-null   float64
 25   AHI Class              3976 non-null   object
 26  BMI                     3971 non-null   float64
 27  BMIPCT                  3939 non-null   float64
 28  BP                      3801 non-null   float64
dtypes: float64(4), int64(22), object(3)
memory usage: 931.9+ KB

In [27]:
df_final.to_csv("data_sleep_med.csv", index=False)

In [19]:
df_final['BP'].isnull().sum()

175

In [20]:
df_final['BP'].fillna(value=df_final['BP'].mean(), inplace=True)
df_final

,Patient_ID,Study_ID,PCORI_GENDER_CD,RACE_DESCR,Age during Study,Eye Movements,Eye Blink,Oral Breathing,Nasal Breathing,Holding Breath,...,Gag,Foot Movement,Movement,Hypopnea,Apnea,Apnea Hypopnea Index,AHI Class,BMI,BMIPCT,BP
0,10000,17728,M,White,7,2,0,0,0,5,...,0,2,39,1,5,0.857143,NONE,15.193333,42.135000,69.000000
1,10003,26038,M,Black or African American,13,5,1,1,3,43,...,0,0,31,25,16,5.857143,NORMAL,17.145263,45.376765,75.984848
2,10006,20647,F,Black or African American,5,7,1,1,1,1,...,0,3,8,0,2,0.285714,NONE,15.348000,39.001765,81.733333
3,10009,25600,M,White,13,9,1,3,2,9,...,0,2,7,5,1,0.857143,NONE,24.643226,99.098108,73.000000
4,10012,22912,M,White,12,14,2,4,2,2,...,0,4,0,0,0,0.000000,NONE,38.982222,99.463333,89.055556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,9970,2437,M,White,16,8,1,2,1,6,...,0,2,6,5,0,0.714286,NONE,21.693333,81.550000,78.166667
3972,9976,6022,M,Black or African American,14,8,1,2,14,1,...,0,2,0,1,0,0.142857,NONE,29.147778,98.603333,81.625000
3973,997,17593,M,White,4,1,0,0,0,4,...,0,1,2,1,4,0.714286,NONE,16.963333,63.254444,73.000000
3974,9994,16966,M,White,24,4,1,1,1,2,...,0,2,12,205,1,29.428571,MILD,29.676512,89.631429,93.675000
3975,9997,18487,F,White,21,6,1,2,1,14,...,0,2,6,13,0,1.857143,NONE,40.864286,98.615208,95.637037

In [21]:
df_final['BP'].isnull().sum()

0

In [23]:
df_final.isnull().sum()

Patient_ID                 0
Study_ID                   0
PCORI_GENDER_CD            0
RACE_DESCR                 0
Age during Study           0
 Eye Movements             0
 Eye Blink                 0
 Oral Breathing            0
 Nasal Breathing           0
 Holding Breath            0
 Snoring/Snorting          0
 Body Position: Supine     0
 Body Position: Left       0
 Body Position: Right      0
 Body Position: Prone      0
 Cough                     0
 Oxygen Desaturation       0
 Awake                     0
 EEG Arousal               0
 Gag                       0
 Foot Movement             0
 Movement                  0
 Hypopnea                  0
 Apnea                     0
 Apnea Hypopnea Index      0
 AHI Class                 0
BMI                        5
BMIPCT                    37
BP                         0
dtype: int64

In [26]:
df_final['BMI'].fillna(value=df_final['BMI'].mean(), inplace=True)
df_final

,Patient_ID,Study_ID,PCORI_GENDER_CD,RACE_DESCR,Age during Study,Eye Movements,Eye Blink,Oral Breathing,Nasal Breathing,Holding Breath,...,Gag,Foot Movement,Movement,Hypopnea,Apnea,Apnea Hypopnea Index,AHI Class,BMI,BMIPCT,BP
0,10000,17728,M,White,7,2,0,0,0,5,...,0,2,39,1,5,0.857143,NONE,15.193333,42.135000,69.000000
1,10003,26038,M,Black or African American,13,5,1,1,3,43,...,0,0,31,25,16,5.857143,NORMAL,17.145263,45.376765,75.984848
2,10006,20647,F,Black or African American,5,7,1,1,1,1,...,0,3,8,0,2,0.285714,NONE,15.348000,39.001765,81.733333
3,10009,25600,M,White,13,9,1,3,2,9,...,0,2,7,5,1,0.857143,NONE,24.643226,99.098108,73.000000
4,10012,22912,M,White,12,14,2,4,2,2,...,0,4,0,0,0,0.000000,NONE,38.982222,99.463333,89.055556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3971,9970,2437,M,White,16,8,1,2,1,6,...,0,2,6,5,0,0.714286,NONE,21.693333,81.550000,78.166667
3972,9976,6022,M,Black or African American,14,8,1,2,14,1,...,0,2,0,1,0,0.142857,NONE,29.147778,98.603333,81.625000
3973,997,17593,M,White,4,1,0,0,0,4,...,0,1,2,1,4,0.714286,NONE,16.963333,63.254444,73.000000
3974,9994,16966,M,White,24,4,1,1,1,2,...,0,2,12,205,1,29.428571,MILD,29.676512,89.631429,93.675000
3975,9997,18487,F,White,21,6,1,2,1,14,...,0,2,6,13,0,1.857143,NONE,40.864286,98.615208,95.637037